# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\DHREY\Documents\GitHub\Dev\Python\IntroToPython-Deitel\.idea/dataSources/
/dataSources.local.xml
